# Build artifacts
build
output
.gradle
.kotlin
.intellijPlatform
.tmp

# IDEs
/.idea/*.iml
/.idea/*.xml
/.idea/.idea.*/*.iml
/.idea/.idea.*/.idea/*.xml
*.cache

/.private
/.claude/settings.local.json
